body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

header{
    width: 1920px;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);

}

header h1{
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    padding-left: 240px;
    padding-top: 197px;
    
}

header p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding-left: 240px;
    padding-top: 32px;
}
